@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["title"] = "List Roles";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <h3>List Roles</h3>
    <a class="btn btn-primary" href="/Admin/Role/Create">Add Role</a>
    @*<a asp-controller="Product" asp-action="Create">Add Product</a>*@

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Role Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>
                        <a href="/Admin/Role/Edit/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/Admin/Role/Delete/@item.Id" class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

<partial name="_Paging" model="@pager">