<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-12">
								<img src="https://www.computerlounge.co.nz/data/media/images/blog//230614-Budget-Prebuilds-Banner_2.png" width="100%" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-12">
								<img src="https://e0.pxfuel.com/wallpapers/164/712/desktop-wallpaper-top-20-for-dell-laptops-19-alternative-for-dell-inspiron-high-resolution.jpg" width="100%" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-12">
								<img src="https://www.laptoptoancau.com/Content/Uploads/files/Dell_Bannerq.jpg" width="100%" alt="" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->