@model AppUserModel
@{
    ViewData["title"] = "Create User";
}

<h4>Create User</h4>

<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>User Name</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <textarea asp-for="Email" class="form-control"></textarea>
            <span asp-validation-for="Email" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <textarea asp-for="PhoneNumber" class="form-control"></textarea>
            <span asp-validation-for="PhoneNumber" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <textarea asp-for="PasswordHash" class="form-control"></textarea>
            <span asp-validation-for="PasswordHash" class="text-danger" />
        </div>
        @*<div class="form-group">
            <label>Phone Number</label>
            <select asp-for="PhoneNumber" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger" />
        </div>*@
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
    <a href="/Index">Back to List User</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
