@model AppUserModel
@{
    ViewData["title"] = "Edit User";
}

<h4>Edit User</h4>

<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" value="" asp-for="Id"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>User Name</label>
            <input asp-for="UserName" required class="form-control" />
            <span asp-validation-for="UserName" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <textarea asp-for="Email" class="form-control"></textarea>
            <span asp-validation-for="Email" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <textarea asp-for="PhoneNumber" required class="form-control"></textarea>
            <span asp-validation-for="PhoneNumber" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Current Password Hash</label>
            <textarea asp-for="PasswordHash" readonly required class="form-control"></textarea>
            <span asp-validation-for="PasswordHash" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Roles</label>
            <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
            <span asp-validation-for="RoleId" class="text-danger" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
    <a href="/Index">Back to List User</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
