@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order Listed";
}

<h3>List Order</h3>
<a href="/Admin/Order/Create">Add Order</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đơn hàng thành công</span>
                    }
                </td>
                <td>
                    <a href="/Admin/Order/ViewOrder/@item.OrderCode" class="btn btn-warning btn-sm">View</a>
                    <a href="/Admin/Order/Delete/@item.Id" class="btn btn-danger btn-sm confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>